body
{
	margin: 0;
	padding: 0px 60px;
	background-color: #EEEEEE;
	color: #111111;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

}

h1
{
	font-size: 64px;
	font-weight: 400;
	color: #FA7C00;
	margin-bottom: 20px;
	text-align: center;
}

label
{
	margin: auto;
	padding:30px;
}

#registration
{
	background-color: #EDEDED;
	margin: auto;
	width:150px;
	border-color: #bdc7d8;
    border-radius: 5px;
}

#leg
{
	font-size: 64px;
	font-weight: 400;
	color: #FA7C00;

	text-align: center;
}

.formInput
{
	font-size: 18px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
	margin-bottom: 10px;
    width: 377px;
}

.button
{
	background-color: #AAFFAA;
	font-size: 20px;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
	margin-bottom: 10px;
    width: 400px;
	
}